<div class="m-4 m-grid align-content-center justify-content-center gap-8">
  <div class="m-grid gap-4">
    <div class="">
      <span class="font-sans text-5xl line-height-1"
        >Welcome to Survey Junction</span
      >
    </div>

    <p-button (click)="showDialog()" [raised]="true" severity="secondary"
      >Let's Create a form</p-button
    >
  </div>
  <div>
    <span>Recents: </span>
  </div>
  <p-dialog
    [(visible)]="showFormModal"
    header="Build Form"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
    class="rounded-lg"
  >
    <div class="md:flex m-grid gap-4 mt-4 justify-content-center">
      <div
        class="shadow-2 p-4 border-round md:w-5 cursor-pointer hover:shadow-4"
        (click)="createManually()"
      >
        <div class="m-grid gap-2 align-content-center justify-content-center">
          <div><img alt="Add" src="../../assets/add.svg" width="50" /></div>
          <div class="m-grid gap-2">
            <span class="text-xl font-bold">Create manually</span>
            <span>Jump right and build something beautiful</span>
          </div>
        </div>
      </div>
      <div
        class="shadow-2 p-4 border-round md:w-5 cursor-pointer hover:shadow-4"
      >
        <div class="m-grid gap-2 align-content-center justify-content-center">
          <div class="flex gap-2">
            <img alt="ai" src="../../assets/ai.svg" width="50" />
            <div
              class="bg-blue-200 p-1 md:w-6 lg:w-4 border-round text-sm text-white align-self-start"
            >
              Coming soon
            </div>
          </div>
          <div class="m-grid gap-2">
            <span class="text-xl font-bold">Generate with AI</span>

            <span
              >Save time and create form faster - Let AI handle the first
              draft</span
            >
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
