<div class="m-grid m-5 p-5 justify-content-center">
  <form #responseForm="ngForm">
    <!-- Form heading and description -->
    <div
      class="m-grid justify-content-center gap-4 align-content-center border-300 border-1 border-round-xl p-5 surface-100 shadow-2"
      style="width: 60vw"
    >
      <span class="text-xl">
        {{ formData?.heading }}
      </span>

      <span class="text-base">
        {{ formData?.description }}
      </span>
    </div>

    <!-- Questions -->
    <div
      *ngFor="let question of formData?.questions; index as qIndex"
      class="mt-4 text-base m-grid gap-2 mb-2 border-300 border-1 border-round-xl p-5 surface-100 shadow-2"
    >
      <div class="m-grid gap-2">
        <div class="font-bold">{{ qIndex + 1 }}. {{ question.value }}</div>
        <div>
          <i
            class="pi pi-info-circle"
            *ngIf="question?.type === 'voice' || question?.type === 'location'"
          ></i
          ><span *ngIf="question?.type === 'voice'" class="ml-2"
            >You can record your voice to answer</span
          >
          <span *ngIf="question?.type === 'location'" class="ml-2">
            You can share your location directly by using GPS</span
          >
        </div>
      </div>
      <div [ngSwitch]="question?.type">
        <div *ngSwitchCase="'text'">
          <input
            pInputText
            placeholder="Enter your answer"
            class="w-full"
            name="question.name"
            [required]="question?.required"
            [(ngModel)]="response[qIndex].answer"
          />
        </div>
        <div *ngSwitchCase="'multipleChoice'" class="m-grid gap-3">
          <div *ngFor="let option of question?.options; index as oIndex">
            <p-radioButton
              id="mcqOption"
              name="mcqOption {{ oIndex }}"
              [value]="option"
              [(ngModel)]="response[qIndex].answer"
              [required]="question?.required"
            ></p-radioButton>
            <label for="mcqOption" class="ml-2">{{ option.value }}</label>
          </div>
        </div>
        <div *ngSwitchCase="'checkBox'" class="m-grid gap-3">
          <div
            *ngFor="let option of question?.options; index as oIndex"
            class="flex gap-2"
          >
            <p-checkbox
              name="checkBoxOption {{ oIndex }}"
              [value]="option"
              [(ngModel)]="response[qIndex].answer"
              id="checkBoxOption"
              [required]="question?.required"
            ></p-checkbox>

            <label for="checkBoxOption">{{ option.value }}</label>
          </div>
        </div>
        <div *ngSwitchCase="'starRating'">
          <p-rating
            name="starRating {{ qIndex }}"
            [(ngModel)]="response[qIndex].answer"
            [cancel]="false"
            [required]="question?.required"
          ></p-rating>
        </div>
        <div *ngSwitchCase="'voice'">
          <app-voice-input
            [required]="question?.required"
            (result)="getVoiceOutput($event, qIndex)"
          ></app-voice-input>
        </div>
        <div *ngSwitchCase="'location'">
          <app-location-input
            [inputLocation]="
              response[qIndex].answer ? response[qIndex].answer : ''
            "
            [required]="question?.required"
            (location)="getLocation($event, qIndex)"
          ></app-location-input>
        </div>
      </div>
    </div>
    <p-button
      (onClick)="onSubmit()"
      label="Submit response"
      class="flex align-content-center justify-content-center mt-4 shadow-4"
      [disabled]="responseForm.form.invalid"
      [style]="{ width: '100%' }"
    ></p-button>
  </form>
</div>
