<div
  class="m-grid justify-center items-center p-5 my-4 mx-10 lg:my-8 lg:mx-8 parent-container shadow-2"
>
  <form #surveyForm="ngForm">
    <div class="m-grid justify-center items-center gap-6">
      <!-- Form details -->

      <div
        class="m-grid gap-6 border-300 border-1 border-round p-5 w-[72vw] surface-100"
      >
        <div class="flex flex-column gap-2">
          <label htmlFor="heading">Form Heading</label>
          <input
            pInputText
            id="heading"
            name="heading"
            [(ngModel)]="formData.heading"
          />
        </div>
        <div class="flex flex-column gap-2">
          <label htmlFor="description">Form Description</label>
          <input
            pInputText
            id="description"
            name="description"
            [(ngModel)]="formData.description"
          />
        </div>
      </div>

      <!-- Questions -->
      <div
        *ngFor="let question of formData.questions; index as qIndex"
        class="m-grid gap-4 border-300 border-1 border-round p-5 surface-100"
      >
        <div class="flex justify-content-between">
          <div class="flex align-content-center gap-2">
            <p-inputSwitch
              [(ngModel)]="question.required"
              name="required {{ qIndex }}"
              class=""
            ></p-inputSwitch>
            <span class="text-500">Required</span>
          </div>
          <span
            class="pi pi-times text-500 cursor-pointer"
            (click)="removeQuestion(qIndex)"
          ></span>
        </div>
        <div>
          <div class="flex flex-column gap-2">
            <label htmlFor="question {{ qIndex }}"
              >Question {{ qIndex + 1 }}</label
            >
            <input
              pInputText
              id="question {{ qIndex }}"
              name="question {{ qIndex }}"
              [(ngModel)]="question.value"
              required
            />
          </div>
        </div>
        <div [ngSwitch]="question.type">
          <div *ngSwitchCase="'text'">
            <div class="flex flex-column gap-2">
              <input
                pInputText
                id="question {{ qIndex }}"
                name="question {{ qIndex }}"
                placeholder="Answer"
                disabled="true"
                class="cursor-not-allowed"
              />
            </div>
          </div>
          <div *ngSwitchCase="'multipleChoice'">
            <div
              *ngFor="let option of question?.options; index as oIndex"
              class="flex gap-2 align-items-center mb-3"
            >
              <span class="pi pi-circle text-500"></span>
              <div class="flex flex-column gap-2 w-max">
                <input
                  pInputText
                  id="option {{ oIndex + 1 }}"
                  name="option {{ oIndex + 1 }}"
                  [(ngModel)]="option.value"
                  placeholder="Option {{ oIndex + 1 }}"
                  [required]="oIndex === 0"
                  class="pl-1"
                />
              </div>
              <span
                class="pi pi-trash cursor-pointer"
                (click)="removeMCQOption(qIndex, oIndex)"
              ></span>
            </div>

            <p-button
              severity="secondary"
              [rounded]="true"
              (click)="addOptionInMultipleChoice(qIndex)"
            >
              + Add option
            </p-button>
          </div>
          <div *ngSwitchCase="'checkBox'">
            <div
              *ngFor="let option of question?.options; index as oIndex"
              class="flex gap-2 align-items-center mb-3"
            >
              <mat-icon class="opacity-20"> check_box_outline_blank </mat-icon>
              <div class="flex flex-column gap-2 w-max">
                <input
                  pInputText
                  id="option {{ oIndex + 1 }}"
                  name="option {{ oIndex + 1 }}"
                  [(ngModel)]="option.value"
                  placeholder="Option {{ oIndex + 1 }}"
                  [required]="oIndex === 0"
                  class="pl-1"
                />
              </div>
              <span
                class="pi pi-trash cursor-pointer"
                (click)="removeMCQOption(qIndex, oIndex)"
              ></span>
            </div>

            <button
              pButton
              rounded="true"
              (click)="addOptionInMultipleChoice(qIndex)"
            >
              + Add option
            </button>
          </div>
          <div *ngSwitchCase="'voice'">
            <div class="flex flex-column gap-2 p-input-icon-right">
              <i class="pi pi-microphone"></i>
              <input
                pInputText
                id="question {{ qIndex }}"
                name="question {{ qIndex }}"
                placeholder="Answer"
                disabled="true"
                class="cursor-not-allowed pl-2"
              />
            </div>
          </div>
          <div *ngSwitchCase="'starRating'" class="flex">
            <mat-icon class="opacity-20">star</mat-icon>
            <mat-icon class="opacity-20">star</mat-icon>
            <mat-icon class="opacity-20">star</mat-icon>
            <mat-icon class="opacity-20">star</mat-icon>
            <mat-icon class="opacity-20">star</mat-icon>
          </div>
          <div *ngSwitchCase="'location'">
            <mat-form-field class="w-full">
              <mat-label
                >Location answer
                <mat-icon class="opacity-50">location_on</mat-icon></mat-label
              >
              <input matInput disabled="true" class="cursor-not-allowed" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Add question dropdown -->
      <div class="surface-100 border-round-lg">
        <p-button [rounded]="true" label="Text"> </p-button>
      </div>
      <p-dropdown
        [options]="questionTypes"
        #selectQuestionType
        (onChange)="addQuestion(selectQuestionType, $event)"
        optionLabel="name"
        placeholder="Add Question"
        [(ngModel)]="selectedQuestion"
        name="selectedQuestion"
      ></p-dropdown>
      <button
        mat-raised-button
        color="primary"
        class="grow-1"
        [disabled]="surveyForm.form.invalid || formData.questions.length <= 0"
        (click)="showDialog()"
      >
        Send
      </button>

      <p-dialog
        header="Send and collect response"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        class="rounded-none"
      >
        <mat-form-field class="w-full">
          <mat-label>Link</mat-label>
          <input matInput [value]="responsePageLink" disabled="true" />
        </mat-form-field>
        <div class="flex justify-content-between">
          <button
            mat-raised-button
            color="primary"
            class="grow-1"
            (click)="copyLink()"
          >
            <mat-icon>link</mat-icon>Copy Link
          </button>
          <button
            mat-raised-button
            color="primary"
            class="grow-1"
            (click)="navigateToResponsePage()"
          >
            <mat-icon>open_in_new</mat-icon>Preview
          </button>
        </div>
      </p-dialog>
    </div>
  </form>
  <p-toast></p-toast>
</div>
