<div class="h-screen align-to-center">
  <form #loginForm="ngForm">
    <div
      class="m-grid gap-3 border-300 border-1 border-round-xl p-5 surface-100 shadow-2 align-items-center user-card"
    >
      <div class="text-2xl">Login</div>
      <p-button
        class="mt-4"
        [style]="{
          width: '100%',
          backgroundColor: 'white',
          color: 'black',
          height: '50%',
          borderColor: 'white',
          flexGrow: '1'
        }"
        [raised]="true"
        size="small"
        ><div class="align-to-center gap-2">
          <img
            src="../../../assets/google_icon.svg"
            alt="google-icon"
            width="30"
          />
          <span>Sign In with Google</span>
        </div></p-button
      >
      <div class="align-to-center">OR</div>

      <div class="flex flex-column gap-2">
        <label htmlFor="email">Email Id</label>
        <input
          type="email"
          email
          pInputText
          id="email"
          name="email"
          [(ngModel)]="userDate.email"
          required
          aria-describedby="emailAria"
          #email="ngModel"
        />
        <small
          id="emailAria"
          class="text-red-500"
          *ngIf="email.errors?.['email']"
          >Please enter valid email id</small
        >
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="password">Password</label>
        <p-password
          [(ngModel)]="userDate.password"
          [toggleMask]="true"
          id="password"
          name="password"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [feedback]="false"
        ></p-password>
      </div>

      <p-button
        (onClick)="login()"
        label="Login"
        class="align-to-center mt-4"
        [disabled]="loginForm.form.invalid"
        [style]="{ width: '100%' }"
        [raised]="true"
      ></p-button>
      <div>Don't have an account? <a href="/register">Create Account</a></div>
      <p-message
        class="align-to-center"
        severity="error"
        [text]="errorMessage"
        *ngIf="errorMessage"
      ></p-message>
    </div>
  </form>
</div>
