/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Fira Sans', sans-serif;}

input {
    padding-left: 5px;
}
.parent-container {
    border-radius: 10px;
}

/* Navigation bar CSS */
.navbar {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.m-grid {
    display: grid;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.preview-dialog {
    width: 80vw;
}

/* App background css */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'helvetica', sans-serif;
   
}

.background {
    background: rgb(78,222,215);
    background: linear-gradient(3deg, rgba(78,222,215,1) 0%, rgba(24,52,57,1) 100%);
    background-repeat: no-repeat;
}

.align-to-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.grid-align-to-center {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.center-spinner {
    position: fixed;
    top: 45%;
    left: 40%;
    z-index: 9999;
  }
  
.bg-spinner {
position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* You can adjust the opacity (0.5) to control the shade */
    z-index: 9999; /* Ensure the overlay is above other content */
}

/* Mobile devices */
@media (min-width: 320px) {
    .user-card{
        width: 95vw;
    }
    .center-spinner {
        position: fixed;
        top: 45%;
        left: 40%;
        z-index: 9999;
      }
}

/* Tablet devices */
@media (min-width: 391px) {
    .user-card{
        width: 80vw;
    }
    .center-spinner {
        position: fixed;
        top: 45%;
        left: 45%;
        z-index: 9999;
      }
}

/* Laptop devices */
@media (min-width: 821px) {
    .user-card{
        width: 30vw;
    }
    .center-spinner {
        position: fixed;
        top: 45%;
        left: 45%;
        z-index: 9999;
      }
}
