<div
  class="flex shadow-2 align-content-center justify-content-between"
  style="background-color: #f1f1f1"
>
  <div class="flex">
    <img
      src="../assets/logo.png"
      height="40"
      style="margin: 0.5rem"
      width="80"
    />
    <span class="align-self-center text-base text-500">Survey Junction</span>
  </div>
  <p-avatar
    class="align-content-end"
    label="M"
    size="large"
    [style]="{
      'background-color': '#c6f1e7',
      color: '#00000',
      margin: '0.5rem'
    }"
  ></p-avatar>
</div>
